{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}"/>
</head>
<body>
   <h1>Student Form</h1>
   <form action="" method="POST">
    {% csrf_token %}
    {{studentf.as_p}}
    <!-- <label for="name">First Name</label> <br>
    <input type="text" placeholder="Enter Your Name"> -->

<input type="submit" class="button">
   </form>
       </p>
</body>
</html>